<h4>AiPrintBox Settings</h4>
<form class="form-horizontal">
	<div class="control-group">
		<label class="control-label">{{ _('Serial Number') }}</label>
		<div class="controls">
			<input type="text" id="printer_serial_number" class="input-block-level" disabled data-bind="value: printer_serial_number"/>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">{{ _('Printer Manufacturer') }}</label>
		<div class="controls">
			<select id="printer_manufacturer" class="input-block-level" data-bind="disable: registration_complete(),options: supported_manufacturers,optionsText: 'brand',optionsValue: 'brand',value: printer_manufacturer"></select>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">{{ _('Printer Model') }}</label>
		<div class="controls">
			<select id="printer_model" class="input-block-level" data-bind="disable: registration_complete(),options: supported_printers_filtered,optionsText: 'name',optionsValue: 'model',value: printer_model"></select>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<label class="checkbox">
				<input type="checkbox" data-bind="checked: bypass_bed_clear" /> Bypass Bed Clear Check.
			</label>
		</div>
	</div>
	<div class="row-fluid" data-bind="visible: qr_image_url().length == 0 && registering()" style="display: none;text-align: center;padding-bottom: 25px;">
		<i class="fa fa-spinner fa-pulse" style="font-size: 150px;padding: 75px 75px;"></i>
	</div>
	<div class="row-fluid" data-bind="visible: qr_image_url().length == 0 && registering()" style="display: none;text-align: center;padding-bottom: 25px;">
		<div style="width: 230px;display: inline-block;"><br/>Please wait retrieving QR code.<br/></div>
	</div>
	<div class="row-fluid" data-bind="visible: qr_image_url().length > 0" style="display: none;text-align: center;">
		<img alt="AiPrintBox QR Code" data-bind="attr: {src:qr_image_url()}" width="300px" height="300px">
	</div>
	<div class="row-fluid" data-bind="visible: qr_image_url().length > 0" style="display: none;text-align: center;padding-bottom: 25px;">
		<div style="max-width: 400px;width: 400px;display: inline-block;">Scan the above QR code in the AiPrintBox mobile application for <a href="https://play.google.com/store/apps/details?id=com.myminifactoryapps&hl=en" target="_blank">Android</a> or <a href="https://itunes.apple.com/us/app/myminifactory/id1313773617?mt=8" target="_blank">iOS</a> to complete printer registration (Profile > Settings > Connect 3D Printer).</div>
	</div>
	<div class="row-fluid" style="text-align: center;">
		<button class="btn btn-primary" data-bind="disable: registering(),click: get_qr_image_url, visible: qr_image_url().length == 0"><i class="fa fa-spinner fa-spin" data-bind="visible: registering()" style="display: none;"></i> Get QR Code</button> <button class="btn btn-danger" data-bind="disable: forgetting(),click: confirm_forget, visible: registration_complete()" style="display:none;"><i class="fa fa-spinner fa-spin" data-bind="visible: forgetting()" style="display: none;"></i> Forget</button>
	</div>
</form>

<div id="AiPrintBoxForgetWarning" class="modal hide fade">
	<div class="modal-header">
		<a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
		<h3>AiPrintBox Warning</h3>
	</div>
	<div class="modal-body">
		<p>
			{{ _('Forgetting this printer will disconnect it from all registered users.') }}
		</p>
		<p>
			{{ _('Are you sure you want to proceed?') }}
		</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal" aria-hidden="true" data-bind="click: cancelClick">{{ _('Cancel') }}</a>
		<a href="#" class="btn btn-danger" data-bind="click: forget_registration">{{ _('Proceed') }}</a>
	</div>
</div>