<h4>AiPrintBox Settings</h4>
<form class="form-horizontal">
	<div style="text-align:center">
		<img src="plugin/aiprintbox/static/images/token_qrcode.jpg" style="width:200px;height:200px"/>
	</div>
</form>

<div id="AiPrintBoxForgetWarning" class="modal hide fade">
	<div class="modal-header">
		<a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
		<h3>AiPrintBox Warning</h3>
	</div>
	<div class="modal-body">
		<p>
			{{ _('Forgetting this printer will disconnect it from all registered users.') }}
		</p>
		<p>
			{{ _('Are you sure you want to proceed?') }}
		</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal" aria-hidden="true" data-bind="click: cancelClick">{{ _('Cancel') }}</a>
		<a href="#" class="btn btn-danger" data-bind="click: forget_registration">{{ _('Proceed') }}</a>
	</div>
</div>